h1{
    font-family:'Rubik One', sans-serif ;
    font-size: 50px;
    color: white;
    text-align: center;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: #98ac8e;
    margin: 0;
    padding: 20px;
}
