h1{
    font-family:'Rubik One', sans-serif ;
    font-size: 50px;
    color: white;
    text-align: center;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: #98ac8e;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
}

#recipe-cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

#recipe-details-container{
    width: calc(25% -20px);
    background-color: #d6dde6;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
}


.recipe-card{
    width: calc(25% -20px);
    background-color: #d6dde6;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.2s;
}

.recipe-card:hover{
    transform: scale(1.05);
}

.recipe-card h3{
    font-size: 20px;
    margin: 0;
    color: black;
    margin-bottom: 10px;
}

.recipe-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
}

.star-rating{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.star{
    color: #f7cd46;
    font-size: 20px;
}

.star.filled{
    color: #fdd835;
}

.recipe-card p{
    margin: 0;
    color: #696e75;
    font-size: 16px;
}

#recipe-details-container{
    display: none;
    margin-top: 20px;
    border-top: 1px solid #dddddd;
    padding-top: 20px;
}

#recipe-details-container h2{
    font-size: 25px;
    margin-top: 0;
    color: black;
    margin-bottom: 10px;
}

#recipe-details-container p{
    margin: 0;
    color: #696e75;
    font-size: 16px;
    margin-bottom: 10px;
}

#recipe-details-container a{
    color: #36c;
    font-size: 16px;
}

#recipe-details-container img{
    max-width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

#recipe-rating{
    margin-top: 10px;
}

#recipe-comments{
    font-style: italic;
    font-size: 16px;
    color: black;
}

form{
    margin-top: 20px;
    background-color: #ddb4bc;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

form h2{
    font-size: 22px;
    margin-top: 0;
    color: black;
    margin-bottom: 10px;
}

form label{
    display: block;
    margin-bottom: 5px;
    color: #333;
}

form input[type="text"],
form input[type="url"],
form input[type="number"],
form textarea,
select{
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  border-radius: 3px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  cursor: pointer;
}

form button[type="submit"]{
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    transition: background-color 0.3s;
}

form button [type="submit"] :hover{
    background-color: #45a049;
}

.recipe-card .delete-btn{
    background-color: #ff5722;
}

.recipe-card .delete-btn :hover{
    background-color: #e64a19;
}

.expand-btn,
.delete-btn,
#delete-recipe-btn
{
  display: inline-block;
  padding: 8px 12px;
  margin-top: 10px;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  font-family: 'Raleway', sans-serif; /* Font family */
}

.expand-btn{
    background-color: #2196f3 ;
}

.expand-btn :hover{
   background-color: #1976d2; 
}

.delete-btn,
#delete-recipe-btn{
    background-color: #f44336;
}

.delete-btn :hover,
#delete-recipe-btn :hover{
    background-color: #d32f2f;
}

/* adding media queries for responsive desktop and mobile*/
@media only screen and (max-width: 768px){
    #recipe-cards-container{
        justify-content: center;
    }

    .recipe-card{
        width: calc(50%-20px);
    }
}

@media only screen and (max-width:480px){
    .recipe-card{
        width: 100%;
    }
}